:root {
  --background-color: black;
  --primary-color: white;
  --secondary-color: #d43d3d;
  --tertiary-color: whitesmoke;
}

header {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar-nav a:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
  transform: scale(1.5);
  box-shadow: 0px 0px 10px rgb(120, 112, 112);
}

body {
  background-color: var(--background-color) !important;
}

.bth {
  background-color: var(--background-color);
  border: none;
}

.logo {
  transition: 0.4s;
  width: 150px;
}

.logo:hover {
  margin-bottom: 10px;
  transform: scale(1.3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

a {
  margin: 0 100px;
}

.container-fluid {
  background-color: var(--background-color);
  transition: 0.5s;
  padding: 0;
  box-shadow: 0px 5px 25px rgba(225, 218, 218, 0.67);
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0px;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 5px;
}

#carouselExampleCaptions {
  position: center;
  box-shadow: 0px 0px 40px rgba(225, 218, 218, 0.67);
  border-radius: 20px;
  width: 1000px;
  height: 500px;
}

#imgcarousel {
  border-radius: 20px;
  width: 1000px;
  height: 500px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel-caption.d-none.d-md-block {
  background-color: rgba(42, 39, 35, 0.66);
  border-radius: 30px;
}

.accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.accordion.accordion-flush {
  box-shadow: 0px 0px 20px rgba(225, 218, 218, 0.67);
  width: 1000px;
}

.accordion-button.collapsed {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-collapse.collapsing {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-collapse.collapse.show {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
}

.colfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colfooter a,
p {
  color: var(--primary-color);
  text-decoration: none;
}

hr {
  background-color: white;
  /* box-shadow: 0px 0px 20px rgba(225, 218, 218, 0.67); */
  height: 3px;
}

.card {
  border-radius: 15px;
  border: 5px solid #464242a0;
  margin: 10px;
}

.card-body {
  background-color: #464242a0;
  border-radius: 15px;
  font-size: 18px;
}

.card a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.card a:hover {
  color: rgb(132, 54, 6);
}
