@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200&family=Roboto:wght@300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

:root {
  --bbackground-color: black;
  --lbackground-color: rgb(192, 185, 185);
  --primary-color: white;
  --secondary-color: #d43d3d;
  --tertiary-color: rgb(182, 182, 182);
  --box-color: rgb(120, 112, 112);
  --carrosel-color: rgba(42, 39, 35, 0.66);
  --acordeon-color: rgba(245, 245, 245, 0.84);
  --acordeonBack-color: rgb(42, 41, 41);
  --acordeonFlush-color: rgba(225, 218, 218, 0.67);
  --card-color: rgb(48, 46, 46);
  --cardBorder-color: #464242a0;
}

.dropdown-menu {
  border: transparent;
}

header {
  position: sticky;
  top: 0px;
  z-index: 100;
  border-bottom: solid var(--secondary-color);
}

.dropdown-item {
  margin: 0px;
}

.navbar-nav a {
  background-color: var(--bbackground-color);
  color: var(--tertiary-color);
  font-size: x-large;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
}

.navbar-brand {
  margin: 0px 40px 0px 40px;
}

.navbar-nav .nav-link.active {
  height: 40px;
  align-items: center;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: 0.3s;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(120, 112, 112);
  transform: scale(1.5);
}

.nav-link {
  border-radius: 15px;
}

.navbar-nav a:hover {
  height: 40px;
  align-items: center;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: 0.3s;
  border-radius: 15px;
  transform: scale(1.5);
  box-shadow: 0px 0px 10px rgb(120, 112, 112);
}

body {
  background-color: var(--background-color);
}

.bth {
  width: auto;
  background-color: var(--background-color);
  border: none;
}

.logo {
  transition: 1s;
  width: 150px;
}

.logo:hover {
  transition: 1s;
  margin-bottom: 10px;
  transform: scale(1.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

a {
  margin: 0 70px;
}

.container-fluid {
  background-color: var(--bbackground-color);
  transition: 0.5s;
  padding: 0;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 0px;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 5px;
}

#carouselExampleCaptions {
  position: center;
  box-shadow: 0px 0px 40px rgba(225, 218, 218, 0.67);
  border-radius: 20px;
  width: 1000px;
  height: 500px;
}

#imgcarousel {
  border-radius: 20px;
  width: 1000px;
  height: 500px;
}

.carousel-container {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.carousel-caption.d-none.d-md-block {
  background-color: rgba(42, 39, 35, 0.66);
  border-radius: 30px;
}

.accordion-container {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.accordion.accordion.accordion-flush {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-btn-focus-border-color: #d43d3d;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(212, 61, 61, 0.615);
  --bs-accordion-active-color: #d43d3d;
}

.accordion.accordion-flush {
  box-shadow: 0px 0px 20px rgba(225, 218, 218, 0.67);
  width: 1000px;
}

.accordion-button.collapsed {
  border-radius: 30px;
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-collapse.collapsing {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-collapse.collapse.show {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
  width: 1000px;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  color: rgba(245, 245, 245, 0.84);
  background-color: rgb(42, 41, 41);
}

.colfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  margin: 100px;
  margin-top: 0px;
  /* margin: auto; */
}

.colfooter a,
p {
  color: var(--secondary-color);
  text-decoration: none;
}

hr {
  background-color: white;
  width: 85vw;
  margin-left: 7%;
  /* box-shadow: 0px 0px 20px rgba(225, 218, 218, 0.67); */
  height: 3px;
}

.row {
  margin-top: 60px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.col:first-child {
  margin-right: 50px;
}

.col:last-child {
  margin-left: 50px;
}

.card {
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(48, 46, 46);
  border-radius: 15px;
  border: 5px solid #464242a0;
  margin: 10px;
  width: 100%;
}

.card-body {
  background-color: #464242a0;
  border-radius: 15px;
  font-size: 18px;
}

.card a {
  color: #a3a5ae;
  font-weight: 700;
  text-decoration: none;
  margin: 0%;
}

.card a:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}

a {
  text-decoration: none;
}

.cardapios {
  text-align: center;
  margin-bottom: 20px;
}

.cardapio {
  border: solid #d43d3d98;
  max-width: 50%;
  height: auto;
}

.btn.formulario {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.input-group {
  background-color: var(--tertiary-color);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
}

.card img {
  border-radius: 10px;
  border: 2px solid black;
}

.card-text {
  color: #a3a5ae;
}

.hovercard:hover {
  color: #d43d3d;
}

.corpo {
  background-color: var(--background-color);
}

.flip-container {
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
  /* se quiser uma animação na vertical,
	troque por rotateX(180deg)
	*/
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  z-index: 1;
}

.back {
  transform: rotateY(180deg);
  /* z-index: 100; */
}

#switch:checked ~ .flip-container .flipper {
  transform: rotateY(180deg);
  z-index: 100;
}

#switch {
  display: none;
}

.blue {
  border-left: 3px solid #4895ff;
}

.green {
  border-left: 3px solid #3bb54a;
}

.red {
  border-left: 3px solid #b3404a;
}

footer {
  position: relative;
  z-index: 100;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;
  height: 100vh;
  overflow: hidden;
}
aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: visible;
}

aside2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 5%;
  height: 100vh;
  overflow: hidden;
}

aside2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: visible;
}

/* dark mode button */
.dark-mode {
  background-color: var(--bbackground-color);
  color: var(--tertiary-color);
}

.light-mode {
  background-color: var(--lbackground-color);
  color: var(--bbackground-color);
}

.btn-secondary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-bg: var(--background-color);
  --bs-btn-border-color: var(--background-color);
  --bs-btn-hover-color: var(--tertiary-color);
  --bs-btn-hover-bg: var(--background-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: var(--secondary-color);
  --bs-btn-active-color: var(--background-color);
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: var(--secondary-color);
  --bs-btn-active-shadow: inset 0 3px 5px var(--secondary-color);
  --bs-btn-disabled-color: var(--secondary-color);
  --bs-btn-disabled-bg: var(--box-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
}

.dropdown-menu {
  --bs-dropdown-color: var(--background-color);
  --bs-dropdown-bg: var(--background-color);
}
